<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Работа с request.session</title>
</head>
<body>
    <h1>Работа с request.session</h1>
    <p>Имя пользователя: {{ username }}</p>
    <form action="{% url 'members_app:session' %}" method="post">
        {% csrf_token %}
        <label for="username">Введите имя пользователя:</label>
        <input type="text" name="username" id="username">
        <br>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>
